<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!-- Log into the %TEMP% directory and create sub-folders per date -->
  <variable name="logDirectory" value="${tempdir}/Edi/${shortdate}"/>
  <targets>
    <!-- <target name="logfile" xsi:type="File" fileName="${logDirectory}/Edi.log"/> -->

    <target name ="xmlfile" xsi:type="File"
                  fileName="${logDirectory}/Edi.xml"
                  layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=true:includeNLogData=true}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="xmlfile" />
  </rules>
</nlog>
